div {
  box-sizing: border-box;
}

.section-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 50px;
}

.section-article {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #4a4a4a;
}

article {
  width: 400px
}