div {
  box-sizing: border-box;
}

.white {
  color: white;
}

.section-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 50px;
}

.section-article {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #4a4a4a;
}

article {
  width: 400px
}

.vision {
  position: relative;
  img {
    width: 100%;
  }
  .company-vision {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 80px;
    width: 100%;

    .info {
      color: white;
      text-align: center;
      width: 400px;
      flex-shrink: 0;
      margin-bottom: 20px;
      .info-title {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 18px;
      }
      .info-description {
        font-family: PTSerif;
        font-size: 18px;
        line-height: 1.39;
      }
    }
  }
}

.services {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .service {
    width: 50%;
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 600px) {
  article {
    text-align: left
  }

  .section-title {
    font-size: 24px;
  }

  .section-article {
    font-size: 16px;
  }

  .vision {
    .company-vision {
      padding: 40px 20px;
      .info {
        width: 80%;
        margin-bottom: 50px;
        .info-title {
          font-size: 24px;
          margin-bottom: 6px;
        }
        .info-description {
          font-size: 14px;
        }
      }
    }
  }
  .services {
    .service {
      width: 100%;
    }
  }
}