.gallery-section {
  box-sizing: border-box;
  padding-top: 0px;
  display: block;
  min-height: 1px;
  width: 100%;
  overflow: auto;

  h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 40px;
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}