header {
  background-color: rgba(1, 6, 19, 0.75);
  color: white;
  width: 360px;
  min-height: 100vh;
  position: fixed;
  .upper-header{
    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 20px;
      &:hover {
        color: yellow;
      }
    }
  }
  .bottom-header {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}