header {
  background-color: rgba(1, 6, 19, 0.90);
  color: white;
  width: 300px;
  height: 100%;
  position: fixed;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
  z-index: 15;
  .upper-header{
    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 20px 35px;
      font-weight: bold;
      font-size: 16px;
      img {
        width: 100px;
        margin: 50px 0px 100px 0px;
      }
      &:hover {
        color: yellow;
      }
    }
  }
  .bottom-header {
    padding: 20px 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}
.toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  color: white;
  display: none;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    transform: translateX(-100%);
    transition: all 0.5s;
    &.hide {
      transform: translateX(0%);
    }
  }

  .toggle{
    display: inline-block;
  }
}