.home {
  min-height: 100vh;
  color: white;
  background: black;
  button {
    border: 1px solid white;
    color: white;
    background: transparent;
    padding: 20px;
    border-radius: 25px;
  }
}