.home {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .text-box {
    font-family: 'Poppins', sans-serif;
    max-width: 700px;
    margin-top: -15%;
    p.title {
      font-size: 32px;
      font-weight: 600;
    }
    p.description {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .home {
    padding: 30px;
    .text-box {
      font-family: 'Poppins', sans-serif;
      p.title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 20px;
      }
      p.description {
        font-size: 16px;
      }
    }
  }
}