.image-gallery-slide {
  max-height: 600px;
  .image-gallery-image{
    max-height: 600px;
  }
  img {
    height: 600px;
    object-fit: cover;
  }
}

.image-gallery {
  button {
    box-shadow: none;
    padding: none;
    border-radius: 100%;
    &:before {
      color: #fff;
      line-height: auto;
      text-shadow: none;
      font-size: 40px;
    }
  }
}

.current-company {
  position: relative;
  .company-description {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 450px;
    height: 450px;
    background-color: rgba(black, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;

    .name {
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .info {
      margin-bottom: 20px;
      overflow: hidden;
      span {
        display: block;
        font-weight: 300;
      }
      p{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.filter-button {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  padding-bottom: 0px;
  button {
    margin-right: 15px;
  }
}


.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 15px;
  .project {
    border-radius: 10px;
    overflow: hidden;
    a {
      display: block;
    }

    .hidden-part {
      width: 100%;
      bottom: 10px;
      transition: all 0.5s;
    }
    .image-caption .title {
      width: 95%;
    }

    .image-caption .description {
      font-size: 12px;
    }
    &:hover {
      cursor: pointer;
      .hidden-part {
        transform: translateY(-20px)
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .current-company {
    .company-description {
      width: 95%;
      bottom: 0px;
      left: 0px;
      position: relative;
      background-color: white;
      color: black;
      padding: 15px;
      border-radius: 10px;
      z-index: 20;
      margin: 0px auto;
      margin-top: -100px;
      margin-bottom: 30px;
      height: auto;
      box-shadow: 3px 8px 20px rgba(black, 0.5);
      .name {
        color: black;
      }

    }
  }
  .projects {
    padding: 15px;
    .project {
      width:100%;
    }
  }
}