.galleries {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .gallery {
    width:48.5%;
    flex-shrink: 0;
  }
}