.page-jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 20px;
  position: relative;
}

.page-jumbotron nav {
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  left: 20px;
  bottom: 20px;
}

.page-jumbotron .link > a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 25px;
  margin-right: 10px;
  border-radius: 3px;
  transition: all 1s;
  display: inline-block;
}

.page-jumbotron .link > a:hover {
  background: rgba(white,0.5);
  transition: all 1s;
}

@media only screen and (max-width: 600px) {
  .page-jumbotron nav {
    justify-content: flex-start;
  }
  .page-jumbotron .link > a {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .page-jumbotron {
    height: 200px;
  }
}