.App {

}

.app-other {
  margin-left: 320px;
}

.app-home{
  padding-left: 320px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('./images/home.png')
}


.button, button {
  padding: 13px 25px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  background: transparent;
  color: #4a4a4a;
  border: none;
  border-radius: 26px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  text-decoration: none;
}
.button:hover, button:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}

.button:focus, button:focus {
  outline: none;
}

.button.transparent, button.transparent {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.button.transparent:hover, button.transparent:hover {
  cursor: pointer;
  border: 1px solid white;
  background: white;
  color: #4a4a4a;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .app-other {
    margin-left: 0px;
  }

  .app-home{
    padding-left: 0px;
  }
}
